<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-29292622-17', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End of Google Analytics Snippet -->
    <title>Maestro | Slack Powered Spotify Jukebox</title>
    <meta name="description" content="Turn Spotify into a collaborative jukebox for your workspace through this simple Slack integration.">
    <meta property="og:image" content="images/robot.png">
    <meta property="og:title" content="Check out the Maestro Slack Integration">
    <meta name="google-site-verification" content="zmMki2rJR_gkQlYed3sIZ-ocTGDEw6VZL8lGw4VIhXo" />

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="stylesheets/site.css">
    <script src="javascripts/all.js"></script>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
