@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600,700);
@charset "utf-8";
@import "normalize";
@import "html";

$green: #24cf5f;
$grey: #292b33;

body {
  font-family: 'Work Sans', sans-serif;
  background-color: $green;
}

#basic-site {
  display: none;
}

.font-small {
  line-height: 1.2em;
  font-size: 16px;
}

.font-medium {
  line-height: 1.4em;
  font-size: 24px;
}

.font-large {
  line-height: 1.6em;
  font-size: 36px;
}

.button {
  color: $green;
  text-decoration: none;
  border: 2px solid $green;
  padding: 15px 40px;
  width: 140px;
  display: inline-block;
}

#mobile {
  text-align: center;

  .blurb {
    color: white;
  }

  .logo {
    margin-top: 20px;
  }

  .logo, .robot, .main-description-github {
    margin-bottom: 48px;
  }

  .powered-by {
    padding-bottom: 20px;
  }
}

.btn-white {
  color: white;
  border: 2px solid white;
}


@media only screen and (min-width : 1200px) {
  #mobile {
    display: none;
  }

  #basic-site {
    display: block;
  }

  body {
    background-color: white;
  }

  .container {
    margin: 0 auto;
    width: 1200px;
  }

  .header {
    color: white;
    margin-bottom: 48px;

    .green {
      background: $green;
    }

    .header-content {
      padding-top: 48px;
      padding-bottom: 48px;

      .header-logo {
        margin-bottom: 48px;
      }
    }

    .white {
      height: 48px;
      position: relative;

      img {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .main {
    text-align: center;

    .main-description-text {
      margin-bottom: 48px;
    }

    .main-blocks {
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .main-blocks-block1 {
        flex-basis: 30%;
      }
    }

    .main-video-description {
      margin-bottom: 48px;
    }

    .main-video-youtube {
      margin-bottom: 48px;
    }

    .main-skype {
      .main-skype-button {
        margin-bottom: 48px;
      }

    }
    .main-contact {
      margin-bottom: 48px;

      .main-contact-email a {
        color: $green;
        text-decoration: none;
      }
    }
  }

  .horizontal_rule {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .bold {
    font-weight: bold;
  }

  .powered_by {
    font-size: 14px;
  }

  .footer {
    text-align: center;
    background-color: $grey;
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
