<header class='header'>
<div class='green'>
  <div class='header-content'>
    <div class='header-logo'>
      <img src='images/logo.png'/>
    </div>
    <div class='header-blurb font-large'>
      Turn Spotify into a jukebox <br/>
      with Slack commands.
    </div>
  </div>
</div>
<div class='white'>
  <div class='header-inner'>
    <img height=370 src="images/robot.png"/>
  </div>
</div>
</header>

<section class='main font-small'>
  <div class='main-description'>
    <div class='main-description-text font-medium'>
      Check out this sweet ass app that you can download all of the code for<br/>
      and install on your own office's slack account and look like a bauce!
    </div>
    <div class='main-description-github'>
      <a href='http://github.com/smashingboxes/maestro'>VIEW ON GITHUB</a>
    </div>
  </div>

  <hr class='horizontal_rule'/>

  <div class='main-blocks'>
    <div class='main-blocks-block1'>
      <span class='bold'>
        HOW IT WORKS
      </span>
    </div>
    <div class='main-blocks-block2'>
      <span class='bold'>Multiple Playlists</span> - Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. <br/><br/>
      <span class='bold'>Lots of users can add playlists</span> - Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. <br/>
    </div>
    <div class='main-blocks-block3'>
      <span class='bold'>Skip, voteban, and queue songs</span> - Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. <br/><br/>
      <span class='bold'>Volume controls</span> - Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables. <br/>
    </div>
  </div>

  <hr class='horizontal_rule'/>

  <div class='main-video'>
    <div class='main-video-description font-medium'>
      See Maestro in action on the Smashing Boxes Slack.
    </div>
    <div class='main-video-youtube'>
      <iframe width="750" height="450" src="https://www.youtube.com/embed/pIHYPaoh79I" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class='main-skype'>
    <div class='main-skype-button'>
      <a href="https://github.com/smashingboxes/maestro/blob/master/README.md">
        <img src='images/slack_button.png'/>
      </a>
    </div>
  </div>

  <div class="main-contact">
    <div class="main-contact-prompt font-medium">
      Using Maestro for your office? Send us storied &amp; feedback at
    </div>
    <div class="main-contact-email font-medium">
      <a href="mailto:hey@maestromakeyou.dance">
        hey@maestromakeyou.dance
      </a>
    </div>
  </div>
</section>

<footer class='footer'>
  <div class='footer-powered_by'>
    <a href="http://smashingboxes.com">
      <img src='images/poweredby_sb.png'/>
    </a>
  </div>
</footer>
