<div id='basic-site'>
  <header class='header'>
  <div class='green'>
    <div class='container'>
      <div class='header-content'>
        <div class='header-logo'>
          <img width='410' src='images/Maestro.gif'/>
        </div>
        <div class='header-blurb font-large'>
          Turn Spotify into a jukebox <br/>
          with Slack commands.
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='white'>
        <div class='header-inner'>
          <img height=370 src="images/robot.png"/>
        </div>
      </div>
    </div>
  </div>
  </header>

  <section class='main font-small'>
    <div class='container'>
      <div class='main-description'>
        <div class='main-description-text font-medium'>
          Turn Spotify into a collaborative jukebox for your <br/>
          workspace through this simple Slack integration.
        </div>
        <div class='main-description-github'>
          <a class='button' href='http://github.com/smashingboxes/maestro'>VIEW ON GITHUB</a>
        </div>
      </div>

      <hr class='horizontal_rule'/>

      <div class='main-blocks'>
        <div class='main-blocks-block1'>
          <span class='bold'>
            HOW IT WORKS
          </span>
        </div>
        <div class='main-blocks-block2'>
          <span class='bold'>Queue Songs &amp; Playlists</span> -Use a simple Slack command to queue any song listed in Spotify by including the URI. <br/><br/>
          <span class='bold'>Any User Can Participate</span> - Users within the Maestro channel can get involved in controlling the music output.
        </div>
        <div class='main-blocks-block3'>
          <span class='bold'>Skip &amp; Vote to Ban</span> -Any individual user can skip songs or a small group can join together to ban one.<br/><br/>
          <span class='bold'>Control Volume</span> - Change the output volume directly through Slack with simple commands. Set it to your specified volume level or make incremental changes. <br/>
        </div>
      </div>

      <hr class='horizontal_rule'/>

      <div class='main-skype'>
        <div class='main-skype-button'>
          <a class='button' href="https://github.com/smashingboxes/maestro/blob/master/README.md">
            INSTALL
          </a>
        </div>
      </div>

      <div class="main-contact">
        <div class="main-contact-prompt font-medium">
          Using Maestro for your office? Send us stories &amp; feedback at
        </div>
        <div class="main-contact-email font-medium">
          <a href="mailto:hey@maestromakeyou.dance">
            hey@maestromakesyou.dance
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer class='footer'>
    <div class='footer-powered_by'>
      <a href="http://smashingboxes.com">
        <img src='images/poweredby_sb.png'/>
      </a>
    </div>
  </footer>
</div>

<div id=mobile>
  <div class='logo'>
    <img width='270' src='images/Maestro.gif'/>
  </div>
  <div class='blurb font-small'>
    Turn Spotify into a jukebox <br/>
    with Slack commands.
  </div>
  <div class='robot'>
    <img height=200 src="images/robot.png"/>
  </div>
  <div class='main-description-github'>
    <a class='button btn-white' href='http://github.com/smashingboxes/maestro'>VIEW ON GITHUB</a>
  </div>
  <div class='powered-by'>
    <a href="http://smashingboxes.com">
      <img width=200 src="images/poweredby_sb.png"/>
    </a>
  </div>
</div>
