<header class='header'>
  <!-- Google Analytics Snippet -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-29292622-17', 'auto');
  ga('send', 'pageview');
  <!-- End of Google Analytics Snippet -->
</script>
  <title>Maestro | Slack Powered Spotify Jukebox</title>
  <meta name="description" content="Turn Spotify into a collaborative jukebox for your workspace through this simple Slack integration.">
  <meta property="og:image" content="images/robot.png">
  <meta property="og:title" content="Check out the Maestro Slack Integration">
  <meta name="google-site-verification" content="zmMki2rJR_gkQlYed3sIZ-ocTGDEw6VZL8lGw4VIhXo" />
<div class='green'>
  <div class='header-content'>
    <div class='header-logo'>
      <img src='images/logo.png'/>
    </div>
    <div class='header-blurb font-large'>
      Turn Spotify into a jukebox <br/>
      with Slack commands.
    </div>
  </div>
</div>
<div class='white'>
  <div class='header-inner'>
    <img height=370 src="images/robot.png"/>
  </div>
</div>
</header>

<section class='main font-small'>
  <div class='main-description'>
    <div class='main-description-text font-medium'>
      Turn Spotify into a collaborative jukebox for your <br/>
      workspace through this simple Slack integration.
    </div>
    <div class='main-description-github'>
      <a class="button" href='http://github.com/smashingboxes/maestro' target="_blank">VIEW ON GITHUB</a>
    </div>
  </div>

  <hr class='horizontal_rule'/>

  <div class='main-blocks'>
    <div class='main-blocks-block1'>
      <span class='bold'>
        HOW IT WORKS
      </span>
    </div>
    <div class='main-blocks-block2'>
      <span class='bold'>Queue Songs &amp; Playlists</span> -Use a simple Slack command to queue any song listed in Spotify by including the URI. <br/><br/>
      <span class='bold'>Any User Can Participate</span> - Users within the Maestro channel can get invovled in controlling the music output./>
    </div>
    <div class='main-blocks-block3'>
      <span class='bold'>Skip &amp; Vote to Ban</span> -Any individual user can skip songs or a small group can join together to ban one.<br/><br/>
      <span class='bold'>Control Volume</span> - Change the output volume directly through Slack with simple commands. Set it to your specified volume level or make incremental changes. <br/>
    </div>
  </div>

  <hr class='horizontal_rule'/>

  <div class='main-video'>
    <div class='main-video-description font-medium'>
      See Maestro in action on the Smashing Boxes Slack.
    </div>
    <div class='main-video-youtube'>
      <iframe width="750" height="450" src="https://www.youtube.com/embed/pIHYPaoh79I" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class='main-skype'>
    <div class='main-skype-button'>
      <a class="button" href="https://github.com/smashingboxes/maestro/blob/master/README.md">
        INSTALL
      </a>
    </div>
  </div>

  <div class="main-contact">
    <div class="main-contact-prompt font-medium">
      Using Maestro for your office? Send us stories &amp; feedback at
    </div>
    <div class="main-contact-email font-medium">
      <a href="mailto:hey@maestromakeyou.dance">
        hey@maestromakeyou.dance
      </a>
    </div>
  </div>
</section>

<footer class='footer'>
  <div class='footer-powered_by'>
    <a href="http://smashingboxes.com/?utm_source=maestro-lp&utm_medium=lp&utm_campaign=sb-product">
      <img width="300" target="_blank"src='images/poweredby_sb.png'/>
    </a>
  </div>
</footer>
